
html, body, #app {
    height: 100%;
    margin: 0;
  }
  
  #app {
    display: flex;
    flex-direction: column;
  }
  
  .profile-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
  }
  
  .profile-header {
    flex: 0 0 auto;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 20px;
  }
  
  .profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  h2 {
    margin: 0;
    font-size: 24px;
    color: #333333;
  }
  
  p {
    margin: 5px 0;
    color: #777;
  }
  
  .sections-container {
    flex: 0 0 auto;
    margin-top: 10px;
  }
  
  .content-container {
    display: flex;
    flex: 1;
    margin-top: 20px;
  }
  
  .section-container {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 0 10px;
  }
  
  .section-container.active-section {
    border-color: #000000;
  }
  
  .section {
    width: 100%;
  }
  
  button {
    background-color: #f3f0f0;
    color: rgb(0, 0, 0);
    padding: 8px;
    border-color: #000000;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  button:hover,
  button.active-section {
    background-color: #f5f5f5;
  }
  
  .username-input {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .navbar {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo {
    padding: 50px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .navbar-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    margin-right: 15px;
    cursor: pointer;
  }
  
  .navbar-links li:hover {
    text-decoration: underline;
  }
 
  #app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .comment-section {
    width: 60%;
  }
  
  .comment {
    margin-bottom: 20px;
  }
  
  .rating {
    margin-top: 20px;
  }
  
  .album-info {
    text-align: center;
    margin-top: 20px;
  }
  
  #album-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }